body{
    background-color: #fbbbbd;
}
}
div:hover{
  color: black;
}
.welcome-bg{
  background-color: #FFC0CB;
}

/*
.nav{
  overflow:hidden;
  background-color: #FFB6C1;
}

.nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover{
  background-color: #DB7093;
}
*/
.welcome{
  font-style: oblique;
  font-weight: bolder;
}
.welcome-container{
  animation: fadein 5s;
}
.welcome-container {
  border-radius: 25px;
  border: 3px solid #DB7093;
  padding: 5px;
  margin: 0px;
  width: 600px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.welcome-content{
    animation: fadein 10s;
    font-family: Lucida Console, Courier New, Times New Roman;
    color: 	#DB7093;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes pulse {
  0%{
    color: : red;
  }
  100%{
    color: blue;
  }

}

@keyframes slidein {
  from{
    margin-left: 100%;
    width: 300%
  }
}
@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
}
