body{
    background-color: white;
}

.logo {
  border-radius: 50%;
  font-style: oblique;
  font-style: bolder;
  text-align: center;
  margin: 50px;
  padding: 15px 32px;
  border: 3px solid #FF69B4;
  background-color: #FFB6C1;
  width: auto;
  color: white;
}

.welcome-bg{
  background-color: #FFC0CB;
}

.nav{
  overflow:hidden;
  background-color: #FFC0CB;
  border: 3px solid #FF69B4;
  border-radius: 25px;
}

.nav a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #FFC0CB;
}

.links a:hover{
  background-color: white;
  color: black;
  opacity: 50%;
}

.welcome{
  font-style: oblique;
  font-weight: bolder;
}

.about-container{
  animation: fadein 5s;
}
.about-container {
  border-radius: 25px;
  border: 3px solid #DB7093;
  padding: 5px;
  margin: 0px;
  margin-top: 150px;
  width: 600px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.about-content{
    animation: fadein 10s;
    font-family: Lucida Console, Courier New, Times New Roman;
    color: 	#DB7093;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


@keyframes pulse {
  0%{
    color: : red;
  }
  100%{
    color: blue;
  }

}

@keyframes slidein {
  from{
    margin-left: 100%;
    width: 300%
  }
}
@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
}
